*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containet{
  height: 100vh;
}

.container>div{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: inline-block;
}

@media (max-width: 820px) {
  .container{
    background-color: red;
  }

  .container > div{
    display: block;
    margin: 0 auto;
  }
}