body {
  background-color: grey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4 auto);
  height: 30vh;
  width: 90vw;
  grid-gap: 1rem;
  margin: 0 auto;
  margin-top: 10vh;
}

.item {
  background-color: blue;
  color: red;
  border-radius: 30px;
  text-align: center;
  padding-top: 20px;
}

  .grid .item:first-child {
    background-color: green;
    grid-column: 1 /span 4;
  }
  
  .grid .item:nth-child(2) {
    background-color: yellow;
    grid-column: 1 /span 1;
    grid-row: 2 / span 2;
  } 
  
  .grid .item:nth-child(3) {
    background-color: yellow;
    grid-column: 2 /span 2;
    grid-row: 2 / span 2;
  }
  
  .grid .item:nth-child(4) {
    background-color: blue;
    grid-column: 4 /span 1;
    grid-row: 2 / span 2;
  }

  .grid .item:nth-child(5) {
    background-color: black;
    grid-column: 1 /span 4;
    grid-row: 4 / span 1;
  }
