body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/screen_shot.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#text {
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

#cardtext {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.card1 { grid-area: right; }
.card2 { grid-area: left; }

#card {
  background-color: rgb(116, 62, 83);
  width: 200px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'frame frame left main main right right'
  'footer footer footer footer footer footer footer';  
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0 0;
  font-size: 0px;
}

.cardimage {
  width: 100%;
  height: 200px;
}