nav{
  background-color: chocolate;
  display: flex;
}

nav header{
  flex-grow: 3;
  font-size: 24px;
  align-content: flex-start;
}

.menu{
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
}

.item{
  font-size: 12;
  padding: 0 4px;
}

@media (max-width: 500px) {
  nav{
    background-color: blue;
    flex-direction: column;
    height: 80vh;
  }
  
  nav header{
    align-self: center;
    flex-grow: 0;
    margin-top: 40px;
  }

  .menu{
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 40px;
  }
  
}