/* @media only screen and (min-width:501px) and (max-width:768px){} */
  body{
    background-color: silver;
  }

  .container :nth-child(15){
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
  
  .container :nth-child(16){
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
  }

  .container :nth-child(17){
    display: block;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .container :nth-child(18){
    display: block;
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
  }
  
