body {
    background-color: darkmagenta;
}

.flat {
    color: white;
    border: none;
    transition: 1s;
}

#a:hover {
    background-color: darkgreen;
}

#b:hover {
    background-color: darkred;
}

#c:hover {
    background-color: darkblue;
}

#a {
    background-color: green;
    font-size: 10px;
}

#b {
    background-color: red;
    font-size: 15px;
}

#c {
    background-color: blue;
    font-size: 20px;
}

.round {
    color: white;
    border-radius: 10px;
    border: none;
    transition: 1s;
}

#d {
    background-color: grey;
    font-size: 10px;
}

#e {
    background-color: rgb(218, 218, 5);
    font-size: 15px;
}

#f {
    background-color: orange;
    font-size: 20px;
}

#d:hover {
    background-color: rgb(78, 78, 78);
}

#e:hover {
    background-color: rgb(159, 173, 26);
}

#f:hover {
    background-color: darkorange;
}

.Flat-Ghost {
    color: white;
    transition: 1s;
}

#g {
    background-color: transparent;
    border: red;
    border-style: solid;
    border-width: thin;
    font-size: 10px;
}

#h {
    background-color: transparent;
    border: green;
    border-style: solid;
    border-width: thin;
    font-size: 15px;
}

#i {
    background-color: transparent;
    border: blue;
    border-style: solid;
    border-width: thin;
    font-size: 20px;
}

#g:hover {
    background-color: red;
}

#h:hover {
    background-color: green;
}

#i:hover {
    background-color: blue;
}

.Round-Ghost {
    color: white;
    border-radius: 10px;
    transition: 1s;
}

#j {
    background-color: transparent;
    border: red;
    border-style: solid;
    border-width: thin;
    font-size: 10px;
}

#k {
    background-color: transparent;
    border: green;
    border-style: solid;
    border-width: thin;
    font-size: 15px;
}

#l {
    background-color: transparent;
    border: blue;
    border-style: solid;
    border-width: thin;
    font-size: 20px;
}

#j:hover {
    background-color: red;
}

#k:hover {
    background-color: green;
}

#l:hover {
    background-color: blue;
}